<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/hvkg.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>{{title}}</title>
</head>

<body>
    <div class="container flex flex-col min-h-screen min-w-full items-stretch mx-auto">
        {% include "partials/site-head.html" %}
        <main tabindex="1" id="main-content" class="flex-grow flex-shrink-0 p-6">
            {% block content %}{% endblock %}
        </main>
        {% include "partials/site-footer.html" %}
    </div>
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>

</html>